body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
    border: 10px solid gray;
}

section {
    border-radius: 30px;
}

header {
    background-color: gray;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-top: 50px;
}
.container {
  display: flex;
  justify-content: center;
}

.box {
    border: solid gray;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin-left: 120px;
}

.box:hover {
    transform: translate(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.heading {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.text {
    text-align: center;
    padding: 10px;
}

/* Centered icon without border */
.icon {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
}
footer {
    background-color: darkgray; /* Same as body */
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
.box {
    background-color: #f8f9fa;
    border: 2px dashed #ccc;
    font-weight: bold;
    text-align: center;
}